.form{
  width: 400px;
  height: 500px;
  margin-left: 60%;
  margin-top: 7%; 
  padding: 4%;
  justify-content: center;
  padding-right: 30px;
  
  
  
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative; 
}

body, html {
  margin: 0; 
  height: 100%; 
  font-family: 'Poppins', sans-serif; /* Set Poppins as the default font */

}

.password{
  display: flex;
  width:  ;
}

.p-password{
  width: 100%;
  padding: ;
}