.form{
  width: 400px;
  height: 500px;
  margin-left: 60%;
  margin-top: 7%; 
  padding: 4%;
  justify-content: center;
  padding-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative; 
}

body, html {
  margin: 0; 
  height: 100%; 
  font-family: 'Poppins', sans-serif; 

}

.program-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
background-color: rgb(240, 240, 240);
  overflow-y: auto;
}

.data-table-card {
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.custom-row-spacing {
  height: 3rem; 
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem 0.5rem; 
}
